In [5]:
import pandas as pd
import numpy as np

### pandas 의 버전 확인

참고자료:

`10 minutes to pandas`, `askdjango`, `구글링`

In [4]:
pandas.__version__

'0.23.4'

### Object creation(객체 생성)

In [48]:
s = pd.Series([1,3,5,np.nan,6,8]) #NaN = Not a Number
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### date_range 를 사용하여 날짜 생성

In [50]:
dates = pd.date_range('20180304', periods=20)
dates

DatetimeIndex(['2018-03-04', '2018-03-05', '2018-03-06', '2018-03-07',
               '2018-03-08', '2018-03-09', '2018-03-10', '2018-03-11',
               '2018-03-12', '2018-03-13', '2018-03-14', '2018-03-15',
               '2018-03-16', '2018-03-17', '2018-03-18', '2018-03-19',
               '2018-03-20', '2018-03-21', '2018-03-22', '2018-03-23'],
              dtype='datetime64[ns]', freq='D')

### 임의의 배열(array) 를 생성

In [51]:
np.random.randn(6,4) # 6행 4열의 2차원 랜덤한 array 를 생성

array([[-1.15927357e+00, -1.16664699e+00,  6.36970607e-01,
         8.15763982e-01],
       [ 2.03948619e-01,  9.92895842e-01, -1.52969545e+00,
        -1.96031143e-01],
       [-1.17681543e-03, -1.21282109e+00, -2.84400906e-01,
        -9.03881819e-02],
       [ 8.20086297e-01,  1.58856289e+00, -9.86158020e-01,
        -2.62903822e+00],
       [ 1.83009123e+00, -6.33151439e-01, -4.57522529e-01,
         7.86913563e-01],
       [-4.67546881e-01, -1.18893691e+00,  7.31573218e-01,
         7.47747140e-01]])

### 임의로 생성한 배열을 데이터 프레임으로 생성

In [22]:
# 2차원 데이터 구조인 DataFrame 으로 생성

pd.DataFrame(np.random.randn(6, 4), index=['인덱스0', '인덱스1', '인덱스2', '인덱스3', '인덱스4', '인덱스5'])

             0         1         2         3
인덱스0 -0.632083  0.202299  1.591431  0.612587
인덱스1 -0.564378 -1.001245 -1.010373 -2.198712
인덱스2 -2.323718 -1.889469  0.692887 -0.985980
인덱스3 -0.989248 -1.210447 -0.896970  1.088805
인덱스4 -1.134387  0.484131 -1.231638 -0.748616
인덱스5 -0.030443  0.708711  0.849354  1.088437

# 만약 위에서 생성한 dates를 index 로 넣게 된다면?

행이 맞지 않기 때문에 `ValueError: Shape of passed values is (4, 6), indices imply (4, 20)` 오류가 발생

### 꼭 values 의 길이를 일치해야 에러없이 데이터 테이블이 생성된다

#### + 다른 사람들도 보기 편하도록 데이터 테이블을 만들면 아래와 같이 shape, head 를 넣어주자

In [33]:
df = pd.DataFrame(np.random.randn(20, 4), index=dates, columns=['A','B','C','D'])

print(df.shape)
df.head()

(20, 4)

                   A         B         C         D
2018-03-04  0.788203  1.029756 -0.968535  2.047786
2018-03-05  1.570891 -0.127878 -1.664860 -0.515128
2018-03-06  0.626155  0.714460  0.065757  0.516557
2018-03-07  1.458976 -1.054180  0.072217  0.462684
2018-03-08  1.830353  0.694301 -0.667585 -0.779786

### 직렬로 변환할 수 있는 object 를 전달하여 DataFrame 생성하기

In [43]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
print(df2.shape)
df2

(4, 6)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [47]:
df2.dtypes # 스마트하게 각 인덱스의 데이터타입을 출력해준다

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object